.copyright{
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text{
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.copyright__link{
  position: relative;
  margin-left: 15px;
}
