.copyright__text{
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.copyright__link{
  position: relative;

  &::before{
    background: url("../img/logo-htmlacademy.svg") no-repeat;
    content: "";
    width: 27px;
    height: 34px;
    display: block;
  }
}
