.form-button{
  background: $form-button-bg;
  border: none;
  border-radius: 1px;
  color: $text-color-white;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 18px;
  box-sizing: border-box;
  width: 100%;

  @media (min-width: $tablet-width){
    width: 300px;
  }

  &:hover{
    background-color: $form-button-hover-bg;
  }

  &:active{
    color: rgba($text-color-white, 0.3);
  }

  &:disabled{
    background-color: $input-border-color;
    color: $text-color-white;
  }
}

.form-button--desktop-wide{
  @media (min-width: $desktop-width){
    width: 500px;
  }
}
