.input-range{
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  position: relative;
  padding-bottom: 6px;
  padding-top: 6px;
  box-sizing: border-box;
}

.input-range__bar{
  height: 2px;
  width: 100%;
  background-color: $text-color;
}

.input-range__toggle{
  padding: 0;
  margin: 0;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  border: 2px solid $text-color-akcent;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 7px);
  left: 20%;
  cursor: pointer;

  &:active{
    background-color: $text-color-akcent;
  }
}
