.intro{
  background-color: $intro-bg;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  position: relative;
  color: $text-color-white;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  background: url("../img/iphone-hand-mobile@1x.png") center 176px no-repeat,
              url("../img/bg-back-mobile@1x.jpg") 0 0 no-repeat;
  background-size: 258px auto, cover;

  @media (min-resolution: 2dppx){
    background: url("../img/iphone-hand-mobile@2x.png") center 176px no-repeat,
              url("../img/bg-back-mobile@2x.jpg") 0 0 no-repeat;
    background-size: 258px auto, cover;
  }

  @media (min-width: $tablet-width){
    background: url("../img/iphone-hand-tablet@1x.png") center bottom no-repeat,
                url("../img/bg-back-tablet@1x.jpg") 0 0 no-repeat;
    background-size: 700px auto, cover;
    display: flex;
    flex-direction: column;
    height: 729px;


      @media (min-resolution: 2dppx){
      background: url("../img/iphone-hand-tablet@2x.png") center bottom no-repeat,
                url("../img/bg-back-tablet@2x.jpg") 0 0 no-repeat;
      background-size: 700px auto, cover;
    }
  }

  @media (min-width: $desktop-width){
    background: url("../img/iphone-hand-desktop@1x.png") right bottom no-repeat,
                url("../img/bg-back-desktop@1x.jpg") 0 0 no-repeat;
    background-size: 1050px auto, cover;
    height: 853px;

      @media (min-resolution: 2dppx){
      background: url("../img/iphone-hand-desktop@2x.png") right bottom no-repeat,
                url("../img/bg-back-desktop@2x.jpg") 0 0 no-repeat;
      background-size: 1050px auto, cover;
    }
  }
}

.intro .container{
  @media (min-width: $desktop-width){
    padding-left: $desktop-padding-left;
    padding-right: $desktop-padding-right;
  }
}

.intro__header{
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  padding-top: $menu-height-mobile + 29px;
  padding-left: $mobile-padding-left;
  padding-right: $mobile-padding-right;
  height: 462px;

  @media (min-width: $tablet-width){
    padding-top: $menu-height-tablet + 102px;
    font-size: 40px;
    width: 300px;
    height: auto;
  }

  @media (min-width: $desktop-width){
    padding-top: $menu-height-desktop + 114px;
    font-size: 50px;
    line-height: 68px;
  }
}

.intro__wrapper{
  text-align: center;
  background-color: $intro-bg;
  padding-left: $mobile-padding-left;
  padding-right: $mobile-padding-right;
  padding-top: 28px;

  @media (min-width: $tablet-width){
    width: 300px;
    margin-top: 39px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width){
    margin-top: 51px;
  }
}

.intro__link{
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $text-color-white;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 29px;

  @media (min-width: $desktop-width){
    font-size: 21px;
    line-height: 18px;
  }

  &:focus{
    outline: auto;
  }
}

.intro__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 38px;

  @media (min-width: $tablet-width){
    margin-top: 51px;
  }

  @media (min-width: $desktop-width){
    margin-top: 75px;
  }
}

.intro__text{
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-top: 31px;

  @media (min-width: $tablet-width){
    margin-top: 42px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width){
    margin-top: 58px;
  }
}

.intro__item-link{
  position: relative;
}
