.intro{
  background-color: $intro-bg;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  color: $text-color-white;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
}

.intro__header{
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  position: relative;
  margin: 0;

  &::after{
    background: url("../img/iphone-hand-mobile@1x.png") no-repeat;
    content: "";
    width: 258px;
    height: 286px;
    display: block;
  }
}

.intro__wrapper{
  background-color: $intro-bg;
}

.intro__link{
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $text-color-white;
}

.intro__text{
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

