.intro{
  background-color: $intro-bg;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  position: relative;
  color: $text-color-white;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  z-index: -1;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;

  @media (min-width: $mobile-width){
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    height: 729px;
  }

  @media (min-width: $desktop-width) {

    padding: 0 112px;
    height: 853px;
  }

  &::before{
    content: "";
    display: block;
    margin-right: auto;
    margin-left: auto;
    left: 0px;
    right: 0px;
    position: absolute;

    @media (min-width: $mobile-width){
      background: url("../img/iphone-hand-mobile@1x.png") no-repeat;
      width: 258px;
      height: 286px;
      top: 176px;
    }

    @media (min-width: $tablet-width) {
      background: url("../img/iphone-hand-tablet@1x.png") no-repeat;
      width: 660px;
      height: 545px;
      bottom: 0;
    }

    @media (min-width: $desktop-width) {
      background: url("../img/iphone-hand-desktop@1x.png") no-repeat;
      width: 1050px;
      height: 645px;
    }
  }
}

.intro__header{
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  margin: 0;
  text-align: center;
  box-sizing: border-box;


  @media (min-width: $mobile-width){
    position: relative;
    padding-top: $menu-height-mobile + 29px;
    padding-left: 20px;
    padding-right: 20px;
    height: 462px;
  }

  @media (min-width: $tablet-width) {
    padding-top: $menu-height-tablet + 102px;
    font-size: 40px;
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    padding-top: $menu-height-desktop + 114px;
  }
}

.intro__wrapper{
  text-align: center;


  @media (min-width: $mobile-width){
    background-color: $intro-bg;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 28px;
  }

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-top: 39px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    margin-top: 51px;
  }
}

.intro__link{
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $text-color-white;
  display: block;

}

.intro__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (min-width: $mobile-width){
    margin-top: 38px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 51px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 75px;
  }
}

.intro__text{
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0;

  @media (min-width: $mobile-width){
    margin-top: 31px;
  }

  @media (min-width: $tablet-width) {
    margin-top: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 58px;
  }
}

.intro__apple-link,
.intro__android-link,
.intro__windows-link{
  position: relative;

  &::before{
    content: "";
    //position: absolute;
    left: 0;
    display: block;
  }
}

.intro__apple-link{
  &::before{
    background: url("../img/logo-apple.svg") no-repeat;
    width: 46px;
    height: 57px;

  }
}

.intro__android-link{
  &::before{
    background: url("../img/logo-android.svg") no-repeat;
    width: 42px;
    height: 47px;
  }
}

.intro__windows-link{
  &::before{
    background: url("../img/logo-microsoft.svg") no-repeat;
    width: 44px;
    height: 42px;
  }
}
