.main-nav{
  min-height: $menu-height-mobile;
  margin-bottom: -$menu-height-mobile;
  background-color: $menu-bg;

  @media (min-width: $tablet-width){
    min-height: $menu-height-tablet;
    margin-bottom: -$menu-height-tablet;
  }

  @media (min-width: $desktop-width){
    min-height: $menu-height-desktop;
    margin-bottom: -$menu-height-desktop;
  }
}

.main-nav__toggle{
  display: block;
  cursor: pointer;
  height: $menu-height-mobile;
  width: 90px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  box-sizing: border-box;
  padding-top: 5px;

  @media (min-width: $tablet-width){
    height: $menu-height-tablet;
  }

  @media (min-width: $desktop-width){
    display: none;
  }

  color: $text-color-white;

  &:hover{
    color: $text-color-akcent;
  }

  &:active{
    opacity: 0.3;
  }
}

.main-nav__list{
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width){
    grid-column-gap: 79px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    min-height: $menu-height-desktop;
    max-width: $desktop-width;
    padding-left: 230px;
    padding-right: $desktop-padding-right;
    margin: auto;
    box-sizing: border-box;
  }
}

.main-nav--opened{
  & .main-nav__toogle-img{
    width: 24px;
    height: 24px;
  }

  @media (max-width: $desktop-width - 1px){
    background-color: $text-color;
  }

  & .main-nav__toggle{
    width: 62px;
  }

  & .main-nav__list{
    @media (max-width: $desktop-width - 1px){
      display: block;
      position: relative;
    }
  }

  & .main-nav__toggle-cross{
    display: block;
  }

  & .main-nav__toggle-burger{
    display: none;
  }
}

.main-nav--closed{
  & .main-nav__toogle-img{
    width: 50px;
    height: 24px;
  }

  & .main-nav__list{
    @media (max-width: $desktop-width - 1px){
      display: none;
    }
  }

  & .main-nav__toggle-cross{
    display: none;
  }

  & .main-nav__toggle-burger{
    display: block;
  }
}

.main-nav--nojs{
  @media (max-width: $desktop-width - 1px){
    & .main-nav__toggle{
      display: none;
    }

    & .main-nav__list{
      display: block;
      background-color: $text-color;
      margin-bottom: 0;
      padding-top: 66px;

      @media (min-width: $tablet-width){
        padding-top: 110px;
      }
    }
  }
}

.main-nav__item{
  display: flex;
  align-items: center;
  text-align: center;

  @media (max-width: $desktop-width - 1px){
    margin-top: 1px;
    box-shadow:
      0 1px 0 #000000,
      inset 0 1px 0 $menu-shadow-color;
  }

  &:nth-of-type(1){
    @media (max-width: $desktop-width - 1px){
      box-shadow:
        0 1px 0 #000000,
        0 -1px 0 #000000,
        inset 0 1px 0 $menu-shadow-color;
    }
  }
}

.main-nav__link{
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  color: $text-color-white;
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 15px;

  @media (min-width: $desktop-width){
    font-size: 18px;
    line-height: 18px;
    text-transform: none;
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 10px;

    .main-nav__item--active &{
      border-bottom: 2px solid $text-color-white;
    }

    .main-nav__item--no-border &{
      border-bottom: none;
    }
  }

  &:focus{
    outline: auto;
  }

  &[href]:hover{
    color: $text-color-akcent;
  }

  &[href]:active{
    opacity: 0.3;

    @media (min-width: $desktop-width){
      color: $text-color-white;
    }
  }
}
