.offer{
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  display: none;
  position: relative;

  @media (min-width: $tablet-width){
    display: block;
    background-color: $text-color-white;
    padding-bottom: 29px;
    padding-top: 50px;
    padding-right: $tablet-padding-right;
  }

  @media (min-width: $desktop-width){
    background-color: $common-bg;
    padding-bottom: 120px;
  }
}

.offer .container{
  &::after{
    content: "24";
    position: absolute;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;

    color: $text-color-akcent;
    border-radius: 50%;

    box-sizing: border-box;
    text-align: center;

    @media (min-width: $tablet-width){
      font-size: 96px;
      line-height: 163px;
      width: 202px;
      height: 202px;
      left: $tablet-padding-left + 18px;
      bottom: 17px;
      border: 16px solid $text-color-akcent;
    }

    @media (min-width: $desktop-width){
      font-size: 120px;
      line-height: 196px;
      width: 252px;
      height: 252px;
      left: $desktop-padding-left + 23px;
      bottom: 22px;
      border: 18px solid $text-color-akcent;
    }
  }

  &::before{
    content: "";
    position: absolute;
    background: url("../img/svg/icon-timer.svg") no-repeat;
    background-size: cover;

    @media (min-width: $tablet-width){
      width: 238px;
      height: 276px;
      left: $tablet-padding-left;
      bottom: 0;
    }

    @media (min-width: $desktop-width){
      width: 298px;
      height: 345px;
      left: $desktop-padding-left;
      bottom: 0;
    }
  }
}

.offer__header{
  margin: 0;

  @media (min-width: $tablet-width){
    padding-top: 102px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: $text-color-black;
  }

  @media (min-width: $desktop-width){
    padding-top: 115px;
    line-height: 30px;
  }
}

.offer_text{
  margin: 0;

  @media (min-width: $tablet-width){
    padding-top: 24px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $text-color;
  }

  @media (min-width: $desktop-width){
    padding-top: 37px;
    font-size: 18px;
    line-height: 30px;
  }
}

.offer_link{
  @media (min-width: $tablet-width){
    display: block;
    padding-top: 24px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: $text-color-akcent;
  }

  @media (min-width: $desktop-width){
    padding-top: 47px;
    font-size: 18px;
    line-height: 30px;
  }
}

.offer__wrapper{
  padding-left: 50%;
}
