.page-header{
  position: relative;
}

.page-header__logo{
  position: absolute;
  display: flex;
  height: $menu-height-mobile; 
  left: 20px;

  @media (min-width: $tablet-width){
    height: $menu-height-tablet; 
  }

  @media (min-width: $desktop-width){
    height: $menu-height-desktop;
    left: 130px;
  }
}
