.page-main__header{
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $text-color-white;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  z-index: -1;
  background-color: $intro-bg;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 93px;
  padding-left: $mobile-padding-left;
  padding-right: $mobile-padding-right;
  padding-bottom: 10px;
  min-height: 237px;


  @media (min-width: $tablet-width){
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
    background-size: cover;
    line-height: 68px;
    font-weight: 300;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    padding-left: $tablet-padding-left;
    padding-right: $tablet-padding-right;
    padding-top: 177px;
    padding-bottom: 0;
    margin-bottom: 64px;
    min-height: 440px;
  }

  @media (min-width: $desktop-width){
    background: url("../img/bg-back-desktop@1x.jpg") center top no-repeat;
    background-size: auto;
    padding-left: $desktop-padding-left;
    padding-right: $desktop-padding-right;
    padding-top: $menu-height-desktop + 59px;
    padding-bottom: 0;
    min-height: 394px;
  }

  @media (min-resolution: 2dppx){
    background: url("../img/bg-back-mobile@2x.jpg") 0 0 no-repeat;
    background-size: cover;

    @media (min-width: $tablet-width){
      background: url("../img/bg-back-tablet@2x.jpg") 0 0 no-repeat;
      background-size: cover;
    }

    @media (min-width: $desktop-width){
      background: url("../img/bg-back-desktop@2x.jpg") center top no-repeat;
      background-size: auto;
    }
  }
}

.page-main__text{
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $text-color;
  margin: 0;
  background-color: $white-bg;
  padding-top: 44px;
  padding-left: $mobile-padding-left;
  padding-right: $mobile-padding-right;
  text-align: center;

  @media (min-width: $tablet-width){
    font-size: 18px;
    line-height: 30px;
    padding-top: 27px;
    padding-left: $tablet-padding-left + 30px;
    padding-right: $tablet-padding-right + 30px;
  }

  @media (min-width: $desktop-width){
    padding-left: $desktop-padding-left + 70px;
    padding-right: $desktop-padding-right + 70px;
    padding-top: 25px;
  }
}

.page-main__text--mobile-hidden{
  display: none;

  @media (min-width: $tablet-width){
    display: inline;
  }
}
