.page-footer .container{
  background-color: $white-bg;
  text-align: center;
  padding-left: $mobile-padding-left;
  padding-right: $mobile-padding-right;

  @media (min-width: $tablet-width){
    display: flex;
    justify-content: space-between;
    padding-left: $tablet-padding-left;
    padding-right: $tablet-padding-right;
  }

  @media (min-width: $desktop-width){
    padding-left: $desktop-padding-left;
    padding-right: $desktop-padding-right;
  }
}

.page-footer{
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 45px;

  @media (min-width: $tablet-width){
    min-height: 127px;
    padding-top: 36px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width){
    min-height: 197px;
    padding-top: 70px;
  }
}

.page-footer__social{
  padding-top: 38px;

  @media (min-width: $tablet-width){
    padding-top: 0;
  }
}

.page-footer__copyright{
  padding-top: 45px;

  @media (min-width: $tablet-width){
    padding-top: 0;
  }
}
