.photos{
  background-color: $white-bg;
  color: $text-color;
}

.photos__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  grid-gap: 20px;

  @media (min-width: $tablet-width){
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
  }

  @media (min-width: $desktop-width){
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.photos__item--wide{
  grid-column: 1 / -1;
}

.photos__item{
  background-color: $common-bg;
}

.photos__item-link{
  display: block;
  text-align: center;
}

.photos__item-photo{
  width: 100%;
}

.photos__item-header{
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 31px;
  }
}

.photos__item-timeleft{
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photos__item-text{
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

.photos__item-likes{
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $text-color-akcent;
  padding-left: 20px;
  padding-right: 20px;
}

.photos__item-photo--full-width{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  box-sizing: border-box;
}