.photos{
  background-color: $white-bg;
  color: $text-color;
}

.photos__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  grid-gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.photos__item{
  background-color: $common-bg;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.photos__panorama{
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.photos__panorama-wrapper{
  background-color: $common-bg;
  margin-left: auto;
  margin-right: auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
  }

  @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr;
      margin-left: 130px;
      margin-right: 130px;

    }
}

.photos__item-link{
  display: block;
  text-align: center;
}

.photos__item-photo{
  width: 100%;
}

.photos__item-header{
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    padding-top: 31px;
  }
}

.photos__item-timeleft{
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.photos__item-text{
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 20px;
}

.photos__item-likes{
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $text-color-akcent;
  padding-left: 20px;
  padding-right: 20px;
}
