.price{
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  padding-top: 100px;
  padding-bottom: 45px;
  background-color: $common-bg;
  background-image: url("../img/svg/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: $mobile-padding-left;
  padding-right: $mobile-padding-right;
  overflow: hidden;

  @media (min-width: $tablet-width){
    padding-left: $tablet-padding-left;
    padding-right: $tablet-padding-right;
    background-position: 0 -35px;
    background-size: auto;
    padding-top: 112px;
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-width){
    padding-left: $desktop-padding-left;
    padding-right: $desktop-padding-right;
    padding-top: 156px;
    padding-bottom: 53px;
    background-position: 0 0;
  }
}

.price__list{
  width: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 43px;
  transform: translate(calc(-100vw + #{$mobile-padding-right} + #{$mobile-padding-left}));

  @media (min-width: $tablet-width){
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    transform: translate(0);
  }
}

.price__item{
  position: relative;
  border-left: 1px solid $common-bg;
  border-right: 1px solid $common-bg;
  box-sizing: border-box;
  grid-template-rows: 1fr 1fr;
  overflow: hidden;

  @media (max-width: $tablet-width - 1px){
    width: calc(100vw - #{$mobile-padding-right} - #{$mobile-padding-left});
  }

  &--hit::before{
    position: absolute;
    content: "Хит";
    font-family: "Open Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    color: $text-color-white;
    background-color: $text-color-akcent;
    padding: 0 50px;
    left: -36px;
    top: 18px;
    transform: rotate(-45deg);

    @media (min-width: $tablet-width){
      left: -43px;
      top: 15px;
      line-height: 18px;
    }

    @media (min-width: $desktop-width){
      left: -36px;
      top: 18px;
      line-height: 24px;
    }
  }
}

.price__wrapper{
  @media (min-width: $desktop-width){
    max-width: $max-width;
    margin: auto;
  }
}

.price__description{
  background-color: $text-color;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width){
    padding-bottom: 8px;
  }

  @media (min-width: $desktop-width){
    padding-top: 17px;
    padding-bottom: 20px;
  }
}

.price__header{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: $text-color-white;

  @media (min-width: $desktop-width){
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
  }
}

.price__cost{
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: $text-color-white;

  @media (min-width: $desktop-width){
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
  }
}

.price__legend{
  display: none;
  margin-top: auto;

  @media (min-width: $tablet-width){
    display: list-item;
    grid-row: 2 / -1;
  }
}
