.reviews{
	font-family: "Open Sans", "Arial", sans-serif;
	font-style: normal;
	text-align: center;
	padding-left: $mobile-padding-left;
	padding-right: $mobile-padding-right;
	padding-top: 50px;
	padding-bottom: 37px;

	@media (min-width: $tablet-width){
		padding-left: $tablet-padding-left;
		padding-right: $tablet-padding-right;
		padding-top: 100px;
		padding-bottom: 14px;
	}

	@media (min-width: $desktop-width){
		padding-left: $desktop-padding-left;
		padding-right: $desktop-padding-right;
		padding-top: 193px;
		padding-bottom: 41px;
	}
}

.reviews__list{
	margin: 0;
	padding: 0;
	list-style: none;
	padding-bottom: 41px;
}

.reviews__item{
	@media (min-width: $tablet-width){
		display: grid;
	}
}

.reviews__item-header{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 18px;
	line-height: 30px;
	color: $text-color-black;
	padding-bottom: 31px;

	@media (min-width: $tablet-width){
		font-weight: bold;
		font-size: 20px;
		line-height: 30px;
		padding-bottom: 17px;
	}

	@media (min-width: $desktop-width){
		font-weight: bold;
		font-size: 24px;
		line-height: 30px;
	}
}

.reviews__item-text{
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 14px;
	line-height: 30px;
	color: $text-color;

	@media (min-width: $tablet-width){
		font-weight: normal;
		font-size: 18px;
		line-height: 30px;
		padding-bottom: 50px;
		order: -1;
	}

	@media (min-width: $desktop-width){
		padding-left: 126px;
		padding-right: 126px;
	}
}

.reviews__info{
	margin: 0;
	padding: 0;
	color: $text-color;
	display: none;

	@media (min-width: $tablet-width){
		display: block;
		font-weight: normal;
		font-size: 14px;
		line-height: 30px;
	}

	@media (min-width: $desktop-width){
		font-weight: normal;
		font-size: 18px;
		line-height: 30px;
	}
	
}