.upload{
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  background-color: $common-bg;
  padding-bottom: 44px;
  padding-top: 20px;
  padding-left: $mobile-padding-left;
  padding-right: $mobile-padding-right;
  margin-top: 41px;

  @media (min-width: $tablet-width){
    padding-left: $tablet-padding-left;
    padding-right: $tablet-padding-right;
    padding-bottom: 49px;
    padding-top: 57px;
    margin-top: 70px;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 48.5% 1fr;
    grid-gap: 46px;
  }

  @media (min-width: $desktop-width){
    margin-left: $desktop-padding-left;
    margin-right: $desktop-padding-right;
    margin-top: 67px;
    margin-bottom: 27px;
    padding-left: 80px;
    padding-right: 60px;
    padding-bottom: 53px;
    padding-top: 50px;
    grid-template-columns: 300px 1fr;
    grid-gap: 90px;
  }
}

.upload__form{
  @media (min-width: $tablet-width){
    display: grid;
    align-content: space-between;
  }
}

.upload__link{
  display: block;
  margin-bottom: 32px;

  @media (min-width: $tablet-width){
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width){
    margin-top: 7px;
  }
}

.upload__image{
  width: 100%;
}

.upload__input-label{
  display: block;
  text-align: center;
  order: -1;
  position: relative;

  @media (min-width: $tablet-width){
    order: unset;

    &::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: $text-color;
      opacity: 0.1;
    }
  }
}

.upload__input-group{
  display: none;
  width: 100%;
  padding-top: 26px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  position: relative;

  &::after{
    content: "";
    position: absolute;
    width: 100vw;
    height: 1px;
    left: -$mobile-padding-left;
    bottom: 0;
    background-color: $text-color;
    opacity: 0.1;
  }

  @media (min-width: $tablet-width){
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
    padding: 0;
    padding-right: 20px;
    padding-bottom: 24px;
    grid-gap: 29px;

    &::after{
      width: 100%;
      left: 0;
    }
  }

  @media (min-width: $desktop-width){
    padding: 0;
    padding-right: 30px;
    grid-template-columns: 50px 1fr;
    grid-gap: 42px;
    margin-top: 0;
    margin-bottom: 22px;

    &:nth-last-of-type(1)::after{
      display: none;
    }
  }
}

.upload__input-group--selected{
  display: block;

  @media (min-width: $tablet-width){
    display: grid;
  }
}

.upload__submit,
.upload__button{
  font-family: "Open Sans", "Arial", sans-serif;
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  grid-column: 1 / -1;
}

.upload__submit{
  color: $text-color-akcent;
  border: 3px solid $text-color-akcent;
  margin-bottom: 12px;

  @media (min-width: $tablet-width){
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width){
    margin-bottom: 0;
  }

  &:hover{
    background-color: $text-color-akcent;
    color: $text-color-white;
  }

  &:active{
    color: rgba($text-color-white, 0.3);
  }
}

.upload__button{
  color: $text-color;
  border: 3px solid $text-color;
  opacity: 0.1;

  @media (min-width: $desktop-width){
    margin-left: 44px;
  }

  &:hover{
    opacity: 0.3;
  }

  &:active{
    background-color: $text-color;
    color: rgba($text-color-white, 0.3);
  }
}

.upload__button-item{
  border: none;
  min-height: 50px;
  min-width: 50px;
  padding: 0;
  opacity: 0.3;
  height: auto;

  &--selected{
    color: $text-color-akcent;
    opacity: 1;

    .form__input-icon{
      fill: $text-color-akcent;
    }
  }

  &:hover{
    opacity: 0.5;
  }

  &:active{
    color: $text-color-akcent;
    opacity: 1;
  }

  & use{
    width: 100%;
  }
}

.upload__button-list{
  display: flex;
  justify-content: center;
  gap: 28px;

  @media (min-width: $tablet-width){
    display: none;
  }
}

.upload__input-icon{
  display: none;

  @media (min-width: $tablet-width){
    display: block;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
  }

  & .upload__button-icon{
    color: $text-color-akcent;
  }

  &--contrast{
    width: 16px;
    height: 22px;
    margin: auto;

    @media (min-width: $desktop-width){
      width: 32px;
      height: auto;
      margin: 0;
      padding-left: 6px;
    }
  }

  &--fill{
    width: 28px;
    height: 22px;
    margin: auto;

    @media (min-width: $desktop-width){
      width: 54px;
      height: auto;
      margin: 0;
    }
  }

  &--crop{
    width: 24px;
    height: 22px;
    margin: auto;

    @media (min-width: $desktop-width){
      width: 48px;
      height: auto;
      margin: 0;
    }
  }
}

.upload__button-wrapper{
  margin-top: 38px;

  @media (min-width: $tablet-width){
    margin-top: 0;
    margin-right: 13px;
    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width){
    display: flex;
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.upload__button-icon{
  width: 100%;

  @media (min-width: $tablet-width){
    width: 100%;
    height: auto;
  }
}

.upload__input{
  &--crop{
    left: 73%;
  }

  &--fill{
    left: 12%;
  }

  &--contrast{
    left: 48%;
  }

  @media (min-width: $desktop-width){
    &--crop{
      left: 24%;
    }

    &--fill{
      left: 86%;
    }

    &--contrast{
      left: 56%;
    }
  }
}

.upload__input-wrapper{
  display: grid;

  padding-top: 8px;

  @media (min-width: $tablet-width){
    gap: 26px;
  }

  @media (min-width: $desktop-width){
    gap: 0;
    padding-top: 0;
  }
}
