.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}

.container{
  position: relative;
  box-sizing: border-box;
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.full-width{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  box-sizing: border-box;
}

.mobile-only{
  @media(min-width: $tablet-width){
    display: none;
  }
}

.mobile-hidden{
  @media(max-width: $tablet-width - 1px){
    display: none;
  }
}

.desktop-only{
  @media(max-width: $desktop-width - 1px){
    display: none;
  }
}

.tablet-only{
  @media(max-width: $mobile-width - 1px)  {
    display: none;
  }

  @media(min-width: $desktop-width){
    display: none;
  }
}

.nowrap{
  white-space: nowrap;
}

.for-mobile{
  @media(max-width: $mobile-width - 1px){
    display: inherit;
  }
}

.for-desktop{
  @media(min-width: $desktop-width){
    display: inherit;
  }
}
