@import "blocks/page-header.scss";
@import "blocks/intro.scss";
@import "blocks/info.scss";
@import "blocks/page-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/main-nav.scss";
@import "blocks/page-main.scss";
@import "blocks/photos.scss";

body{
  background: grey;
}


img{
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
