// Начните писать стили здесь

$intro-bg: #1D2631;
$menu-bg: rgba(0,0,0,0.3);
$common-bg: #F2F2F2;
$white-bg: #FFFFFF;

$text-color-white: #ffffff;
$text-color-black: #000000;
$text-color: #283645;
$text-color-akcent: #D22856;
