// Начните писать стили здесь

$mobile-width: 320px;
$tablet-width: 660px;
$desktop-width: 1200px;

$menu-height-mobile: 68px;
$menu-height-tablet: 110px;
$menu-height-desktop: 110px;

$intro-bg: #1d2631;
$menu-bg: rgba(0, 0, 0, 0.3);
$common-bg: #f2f2f2;
$white-bg: #ffffff;

$text-color-white: #ffffff;
$text-color-black: #000000;
$text-color: #283645;
$text-color-akcent: #d22856;

$menu-shadow-color: rgba(255, 255, 255, 0.15);
$input-border-color: #e5e5e5;

$form-button-bg: #2aab6d;
$form-button-hover-bg: #1c9b5e;
$popup-shadow-color: rgba(0, 1, 1, 0.15);

$mobile-padding-left: 20px;
$mobile-padding-right: 20px;

$tablet-padding-left: 20px;
$tablet-padding-right: 20px;

$desktop-padding-left: 130px;
$desktop-padding-right: 130px;

$max-width: 1200px;
