// Начните писать стили здесь

$mobile-width-only: 450px;
$tablet-width: 660px;
$desktop-width: 1200px;

$intro-bg: #1D2631;
$menu-bg: rgba(0,0,0,0.3);
$common-bg: #F2F2F2;
$white-bg: #FFFFFF;

$text-color-white: #ffffff;
$text-color-black: #000000;
$text-color: #283645;
$text-color-akcent: #D22856;
